@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 220, 72%, 41%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .vjs-marker[data-color] {
    background: var(--marker-color, red);
  }

  .vjs-marker[data-color="blue"] {
    --marker-color: blue;
  }

  .vjs-marker[data-color="yellow"] {
    --marker-color: yellow;
  }

  .vjs-marker[data-color="green"] {
    --marker-color: green;
  }

  .vjs-marker {
    position: absolute;
    background: red;
    width: 5px;
    height: 110%;
    top: -5%;
    z-index: 2;
    margin-left: -3px;
  }

  .vjs-marker:hover span {
    opacity: 1;
  }

  .vjs-marker span {
    position: absolute;
    bottom: 15px;
    opacity: 0;
    width: 150px;
    margin-left: -20px;
    z-index: 90;
    background: rgba(0, 0, 0, 0.8);
    padding: 8px;
    font-size: 10px;
  }
}
@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
